@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
 font-family: 'Lora', serif;
 font-size: 18px;
 margin: 0px;
 background-color: rgb(38, 38, 38);
}

h1, h2 {
  font-family: 'Sarine Medium', sans-serif;
  font-weight: bold;
  background-color: none;
  color: white;

}

h3 {
  font-family: 'Sarine Medium', sans-serif;
  font-weight: bold;
  background-color: none;
  color: black;
  font-size: 20px;

}


a {
	text-decoration: none;
}
